# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings
DATABASE_URL="mysql://password:user@127.0.0.1:3306/hotslabWeb"

# Nextjs
NEXT_PUBLIC_PORT=3000
NEXT_PUBLIC_HOST="http://localhost:3000"
NEXT_PUBLIC_IMAGE_HOST="http://localhost:3000"
NEXT_PUBLIC_DOMAIN=localhost

# NextAuth Config created by command - openssl rand -base64 32
NEXTAUTH_SECRET="ZU9u+2pJ6Bu/HqwSjUimMyHGlWEjdZcXyfbNRrToMzA="

# Seeding
NEXT_PUBLIC_OWNER_EMAIL="owneremail"
NEXT_PUBLIC_OWNER_PASSWORD="ownerpassword"

# SSL
NEXT_PUBLIC_SSL_CA=
NEXT_PUBLIC_SSL_KEY=
NEXT_PUBLIC_SSL_CERT=